.leg {
    background: #6c63ff;
    width: 100vw;
    height: 5vh;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .leg {font-size: .9rem;}
}