@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    /* overflow: hidden; */
}

.land {
    width: 100%;
    max-width: 1440px;
    height: 90vh;
}

.land .content {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.land .content .land-first {
    width: 70%;
    height: 90%;
    clip-path: polygon(0 0, 0 100%, 70% 100%, 100% 0);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.land .content .land-first h1 {
    font-size: 8rem;
    color: #707070;
    font-family: 'Ubuntu';
}

.land .content .land-first h3 {
    font-size: 2rem; 
    font-family: 'Lobster', cursive;
    font-weight: 100;
}

.land .content .land-first p {font-size: 1.4rem;}

.land .content h2 {
    text-align: center;
    font-family: 'Lobster';
    color: #6c63ff;
    position: absolute;
    bottom: 5rem;
}


.land .content .land-second {
    width: 55%;
    height: 100%;
    clip-path: polygon(30% 0, 0 100%, 100% 100%, 100% 0);
    position: absolute;
    right: 0;
}

.land .content .land-second img {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    object-fit: cover;
}

.land .content .land-first a {
    text-decoration: none;
    padding: .7rem 1.2rem;
    margin: .5rem 0;
    background: #6c63ff;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 5px;
}

.foot {
    background: #6c63ff;
    width: 100vw;
    height: 5vh;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.foot img {
    width: 1.5rem;
    margin: 1rem;
}

@media  screen and (max-width: 1460px) {
    .land {
        padding: 0 5rem;
    }
}

@media  screen and (max-width: 1030px) {
    .land .content .land-first h1 {font-size: 5rem;}
    .foot img {width: .8rem;}
}

@media screen and (max-width: 991px) {

    .land {
        padding: 0 2rem;
    }

    .land .content {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: flex-start; */
    }

    .land .content h2 {
        text-align: center;
        font-family: 'Lobster';
        color: #6c63ff;
        position: relative;
        bottom: 0;
        font-weight: 100;
    }

    .land .content .land-first {
        width: 100%;
        height: 15rem;
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        position: relative;
    }

    .land .content .land-first h1 {
        font-size: 4rem;
        font-weight: 300;
    }

    .land .content .land-first p {
        margin: 2rem 0 0;
    }

    .land .content .land-second {
        clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
        width: 100%;
        height: 30rem;
        position: relative;
    }

    .land .content .land-first h3 {font-size: 1.5rem;}

    .land .content .second img {
        width: 90vw;
        margin-left: 0;
    }
}

@media screen and (max-width: 550px) {
    .land .content .land-first h1 {font-size: 1.8rem;}
    .land .content .land-first h3 {font-size: 1rem;}
    .land .content .land-first p {font-size: 1rem;}
    .land .content .land-first a {
        font-size: .9rem;
        padding: .3rem .5rem;
        border-radius: 4px;
    }
}